---
---

@import "base";
@import url(lib/bootstrap/bootstrap.min.css);
@import url(themes/{{ site.themes.general }}/theme.css);
@import url(layout.css);
@import url(themes/{{ site.themes.general }}/overrides.css);
@import url(code/{{ site.themes.code }}.css);
@import url(lib/gifplayer.css);

html {
  min-height: 100%;
}

.clear-all {
  clear: both;
}

img.inline {
  margin-bottom: -8px;
}

nav {
  background: #fff;

  .fa {
    font-size: 14px;
    color: #2B404A;
  }
  
  h1 {
    color:#323232;
  }

  h2 {
    color:#555;
  }

  ul, h1, h2 {
    padding: 0;
  }  
  li a {
    color:#14a1c8;
  }
}

@media print, screen and(max-width: 650px) {
  section {
    border: none;
  }
  
  nav {
    border: none;
  }
}


/**
* Sidebar code
*/
.col-lg-2.page .main-nav{
  position: fixed !important;
  display: block;
  padding: 0;
  background-color: initial;
  width: 210px;
}
.navbar-collapse.in{
  display: block;
}
header {
  a{
    @include font-size(18px);
    font-weight: bold;
    color: $title;
    &:hover{
      text-decoration: none;
      color: $title;
    }
  }
}
.nav-list{
  .nav-group{
    margin-bottom: 10px;
    & > a{
      @include font-size(12px);
      font-weight: bold;
      color: $sub-title;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    .aside-nav {
      a{
        color: $menu-link;
        @include font-size(13px);
        line-height: 23px;
      }
    }
  }
}
.navbar {
   li{
      a{
        font-weight: 600;
      }
   }
}
#mc_embed_signup h2{
  font-weight: 600;
}

h2{
  font-weight: 600;
}
.hidden{
  display: none;
}
.btn{
  padding: 15px !important;
  @include font-size(15px);
  margin: 0 !important;
  color: white !important;
  background-color: $square-desc !important;
  &:hover{
    background-color: $base-green !important;
  }
}
.social-media ul li{
  @media (max-width: 992px) {
    float: left;
    margin: 10px;
  }
}
.item{
  margin-bottom: 20px;
  .square{
    .content{
      text-align: center;
      padding: 40px 10px;
      h3{
        margin: 30px 0 10px 0;
        color: $square-title;
        padding: 0;
        @include font-size(20px);
      }
      p{
        color: $square-desc;
        @include font-size(15px);
      }
      a{
        display: block;
        width: 100%;
        color: inherit;
        &:hover{
          color: inherit;
          text-decoration: inherit;
        }
      }
    }
  }
}
#mc_embed_signup_scroll{
  label{
    font-weight: 600;
    padding: 0 0 4px 0;
    font-size: 11px;
    color: #555;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 5px;
  }
  @media (max-width: 992px) {
    text-align: center;
  }
  .button{
    @include font-size(15px);
    margin: 0 !important;
    color: white !important;
    background-color: $square-desc !important;
    &:hover{
      background-color: $base-green !important;
    }
  }
}
.feedback {
    text-align: center;
    background-color: $square-desc;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    .desc{
      margin-right: 10px;
      @include font-size(16px);
      font-weight: 600;
      letter-spacing: 1px;
    }
    .btn{
      color: white !important;
      background-color: transparent !important;
      border: 2px solid white;
      @include border-radius(0);
      cursor: pointer;
      padding: 5px 10px !important;
      &:hover{
        background-color: white !important;
        color: $square-desc !important;
      }
    }
}

.disqus_thread {
  background-color: $square-desc;
  header{
    display: none;
  }
}

.navigation-step{
  position: relative;
  margin-left: 0px;
  margin-right: 40px;
  min-height: 50px;
  .next-button{
    display: block;
    position: absolute;
    right: 0;
    background-color: $navigation-btn-bg !important;
    color: $navigation-btn !important;
    font-weight: 600;
    padding: 10px 30px !important;
    &:hover{
      background-color: $navigation-btn-bg-hover !important;
    }
  }
}