$title: #0C1010;
$sub-title: #6F6568;
$menu-link: #555555;

$square-title: #212121;
$square-desc : #555555;
$square-desc-lighten: #878787;
$base-green: #4ab19d;

$navigation-btn: #232a33;
$navigation-btn-bg: #ffc600;
$navigation-btn-bg-hover: #FFD130;
