<div class="io-header-container">
    <div class="container-fluid">
        <nav class="main-nav io-header" role="navigation">
            <a class="logo" href="">
                <img src="img/logo/wakandaio_full_lightBG.png">
            </a>
            <ul>

                <li class="hidden-sm-down ">
                    <a class="" href="http://www.wakanda.io/wakanda-platform">What we do</a>
                </li>

                <li class="hidden-sm-down ">
                    <a class="" href="http://www.wakanda.io/pricing">Pricing</a>
                </li>

                <li class="hidden-sm-down ">
                    <a class="" href="http://www.wakanda.io/partners-directory">Partners</a>
                </li>

                <li class="hidden-sm-down ">
                    <a class="" href="https://blog.wakanda.io" target="_blank">Blog</a>
                </li>

                <li class="hidden-sm-down ">
                    <a class="" href="https://wakanda.github.io/wakanda-studio">Get started</a>
                </li>

                <li class="hidden-sm-down highlighted-item">
                    <a class="" href="https://console.wakanda.io">Sign in</a>
                </li>

                <li class="hidden-md-up">
                    <a class="mobile-nav-trigger icon" href="#mobile-nav">Menu</a>
                </li>
            </ul>
        </nav>
    </div>
    <nav id="mobile-nav" class="mobile-main-nav io-header-mobile" role="navigation">
        <div>
            <a class="logo" href="">
                <img src="img/logo/wakandaio_full_darkBG.png">
            </a>
            <a href="#close" class="close-main-nav">×</a>
        </div>
        <ul>

            <li>
                <a href="http://www.wakanda.io/wakanda-platform">What we do</a>
            </li>

            <li>
                <a href="http://www.wakanda.io/pricing">Pricing</a>
            </li>

            <li>
                <a href="http://www.wakanda.io/partners-directory">Partners</a>
            </li>

            <li>
                <a href="https://blog.wakanda.io" target="_blank">Blog</a>
            </li>

            <li>
                <a href="https://wakanda.github.io/wakanda-studio">Get started</a>
            </li>

            <li class="highlighted-item">
                <a href="https://console.wakanda.io">Sign in</a>
            </li>

        </ul>
    </nav>
</div>