<nav class="navbar navbar-toggleable-md navbar-light bg-faded main-nav">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <header class="navbar-brand" >
        <a href="index.html" class="logo">{{ site.name }}</a>
    </header>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% for entry in site.data.toc.entries %}
            {% for node in entry.pages %}
                {% if page.url contains node.url %}
                    {% assign chapter_title = entry.title %}
                {% endif %}
                {% if page.url == '/' %}
                    {% assign chapter_title = '' %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        <ul class="nav-list row">
            
            {% for entry in site.data.toc.entries %}
            <li class="nav-group col-lg-12 col-md-4">
                <a href="{{ entry.url }}" {% if chapter_title == entry.title %} class="active" {% endif %}>
                    {{ entry.title }}
                </a>
                <ul class="aside-nav {{ entry.class }}">
                    {% for node in entry.pages %}
                    <li {% if page.url contains node.url %} class="active" {% endif %}>
                        <a href="{{ node.url }}" target="{{ node.target }}">{{ node.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="download">
        <a href="//wakanda.io#download-wakanda" class="btn btn-default"><i class="icon-download"></i> Download wakanda</a>
    </div>
</nav>